body {
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
    margin: 0;
    /* Remove default margin */
    padding-top: 60px;
    /* Match this to the height of your navbar */
    font-family: 'Courgette';
    color: #093a17;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.greeting,
.framedPic {
    margin: 10px;
}

.greeting {
    padding: 70px;
    padding-right: 0;
    font-size: 30px;
}

.framedPic {
    padding-right: 70px;
}

#hellowrld {
    font-family: "Silkscreen";
}

#me {
    font-size: 40px;
}

img {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(18, 81, 60);
    /* Dark background for the nav bar */
    color: #fff;
    /* White text color */
    padding: 10px 0;
    /* Padding for space around the links */
    width: 100%;
    /* Full width */
    position: fixed;
    /* Fixes the nav bar to the top */
    top: 0;
    left: 0;
    z-index: 1000;
    /* Ensures it's on top of other content */
}

nav ul {
    display: flex;
    /* Aligns list items horizontally */
    justify-content: right;
    /* Centers the nav items */
    margin: 0;
    /* Removes default margin */
    padding-right: 20px;
    /* Removes default padding */
}

nav ul li {
    margin-right: 20px;
    /* Space between links */
}

nav a {
    color: #fff;
    /* White text color for links */
    text-decoration: none;
    /* Remove underline */
    padding: 10px 20px;
    /* Space around the text */
    display: block;
    /* Makes the link fill the list item */
    border-radius: 30px;
    font-size: 20px;
}

nav a:hover,
nav a.active {
    background-color: rgb(0, 125, 83);
    /* Darker background on hover or active */
}

/* for gradients : https://gradients.shecodes.io/gradients/488 */

.buttons {
    background-color: rgba(157, 251, 182, 0.529);
    border: none;
    border-radius: 40px;
    color: rgb(18, 81, 60);
    padding: 15px 32px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Silkscreen';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 20px;

}

.buttons:hover {
    background-color: rgba(209, 251, 208, 0.645);
}

html {
    scroll-behavior: smooth;
}

#down {
    padding-top: 16.5%;
}

button a {
    text-decoration: none;
    color: rgb(18, 81, 60);
}

hr {
    border-color: rgb(18, 81, 60);
}