.all-posts {
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom: 30px;
  width: 80%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.63);
  border: 3px solid rgb(18, 81, 60); 
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-posts h1, .post {
  margin: 27px;
  padding: 5px;
}

.post {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(18, 81, 60); 
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post p {
  padding:10px;
  padding-top:0;
  margin-bottom:8px;
  font-size: 20px;
  padding-bottom:0;
  text-align: justify;
  margin-left:20px;
  margin-right:20px;
}

#title {
  font-family: 'Silkscreen';
  font-size: 32px;
  text-align: center;
}

.post-title{
  font-family: 'Silkscreen';
  font-size: 28px;
  margin:0;
  padding:10px;
  padding-bottom: 0;
  margin-left:20px;
  margin-top:10px;
}

button{
  padding: 10px;
  margin: 20px;
  width: 13%;
  background-color: rgba(209, 251, 208, 0.704);
  font-weight: bold;
  color: rgb(18, 81, 60);
  font-family: 'Silkscreen';
  border-radius: 5px;
  font-size: 15px;
  margin-top:5px;
  margin-left:85%;
   cursor: pointer;
   border: 3px solid rgb(18, 81, 60);
}

button:hover {
  background-color: rgb(241, 254, 249);
}