table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 17px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(18, 81, 60); 
    margin-bottom: 60px;
    width: 95%;
    margin-left: auto;
  margin-right: auto;
}

thead {
    background-color: rgb(18, 81, 60);
    color: #ffffff;
    font-family: 'Silkscreen';
    text-align: center;
}

th, td {
    padding: 20px 15px;
    border: 1px solid rgb(18, 81, 60);
}

.quartiles {
    text-align: center;
    font-family: 'Silkscreen';
    font-size: 20px;
}

.ecs {
    text-align: center;
}

.headers {
    border-radius: 9px;
    padding: 12px;
    margin: 0;
    background-color: rgb(0, 125, 83);
}

#title{
    margin: 40px;
    font-family: 'Silkscreen';
    text-align: center;
}

.progress-bar{
    position: relative;
    width: 80%;
    height: 40px;
    border: 3px solid rgb(18, 81, 60);
    border-radius: 20px;
    margin-left:10%;
    margin-bottom: 30px;
}

.progress-bar-fill{
    height: 100%;
    background: rgb(0, 125, 83);
    width: 75%;
    border-radius: 17px;
}

.progress-bar-value p {
    margin:0;
    padding: 0;
}
.progress-bar-value #pass{
    position: absolute;
    height: 100%;
    width: auto;
    margin-left:69%;
    display: flex;
    align-items: center;
    color:#ffffff;
}

.progress-bar-value #max{
    position: absolute;
    height: 100%;
    width: auto;
    margin-left:94%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#subtitle-1 {
    font-size: 25px;
    margin:0;
    margin-bottom:20px;
    text-align: center;
    font-family: 'Silkscreen';
}

#subtitle-2 {
    font-size: 20px;
    font-style: italic;
    margin:0;
    text-align: center;
}

.grades {
    text-align: center;
}