details{
    background-color: rgb(18, 81, 60);
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    letter-spacing: 2px;
    width: 78%;
    margin-bottom: 26.5px;
    margin-left: 15px;
    }
  
  summary {
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    font-family: 'Silkscreen';
    font-style: normal;
  }

  summary:after{
    content: "\002B";
    font-family: 'Tomorrow';
    font-weight: bold;
  }
  
  details[open] summary {
      border-bottom: 1px solid rgb(0, 125, 83);
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding:50px;
    padding-top:0;
    padding-bottom: 20px;
    text-align: justify;
  }

  div ol li {
    margin-bottom:10px;
  }

  #faq-title{
    font-family: 'Silkscreen';
    margin: 40px;
    text-align: center;
    padding-bottom:20px;
  }

  div p {
    margin-bottom:0;
  }

  div p a {
    text-decoration: none;
    color:rgb(160, 249, 219);
    font-weight: bold;
    font-style: italic;
  }

  #faq-pic{
    float:right;
    margin:0;
    margin-right: 30px;
    margin-top:60px;
    width:240px;
    height:240px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
  }