details{
    background-color: rgb(18, 81, 60);
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
  }
  
  summary {
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
  }

  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      border-bottom: 1px solid rgb(0, 125, 83);;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding-bottom: 10px;
  }