/* Section for the "up" div (the top part) */
body {
    padding-top: 60px; 
}
#up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px; 
    margin-left: 50px;
    margin-right: 50px;
}

/* Greeting section within "up" */
.greeting {
    padding: 70px;
    padding-right: 0;
    font-size: 30px;
}

/* Framed picture in "up" */
.framedPic {
    padding-right: 70px;
}

/* Hello world text styling */
#hellowrld {
    font-family: "Silkscreen";
}

/* Subheading text styling */
#me {
    font-size: 28px;
    padding-bottom: 15px;
    letter-spacing: 3px;
    font-style: italic;
}

/* Button styling */
.buttons {
    background-color: rgba(157, 251, 182, 0.529);
    border: none;
    border-radius: 40px;
    color: rgb(18, 81, 60);
    padding: 15px 32px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.147), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Silkscreen';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 20px;
}

/* Button hover effect */
.buttons:hover {
    background-color: rgba(209, 251, 208, 0.645);
}

/* Image styling for drop shadow */
img {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

/* Smooth scrolling behavior */
html {
    scroll-behavior: smooth;
}

/* Down section for "My motivation" */
#down {
    margin-top: 50px; 
    margin-left:50px;
    margin-right: 50px;
}

/* "My motivation" title */
#motives {
    font-family: 'Silkscreen';
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

/* Content container for image and text in "down" */
.content-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    max-width: 100%; 
}

/* Paragraph inside "down" */
.desire {
    width: 100%;
    margin-left: 20px; 
    font-size: 25px;
    text-align: justify;
    margin: 50px;
    margin-top:0;
    margin-bottom:20px;
    font-style: italic;
}

/* Image inside "down" section */
#nl {
    margin-right: 20px;
}

/* Horizontal rule styling */

footer {
    background-color: rgb(18, 81, 60);
    color: #ffffffdc; 
    text-align: center; 
    padding:1px;
}

footer p
{
    padding:0px;
    margin:5px;
    font-size: 12px;
    text-align:left;
}

footer a {
    color: #ffffffdc; 
    text-decoration: none; 
    padding: 0 10px; 
}

footer a:hover {
    text-decoration: underline; 
}

.paragraphs
{
    padding-right: 30px;
}

.reasons
{
    width: 100%;
    margin-left: 0; /* Adds space between the image and text */
    font-size: 25px;
    text-align: justify;
    font-style: italic;
    margin-left:10px;
}

