img{
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    }
    
/* Study choice page */ 

    #pic-up{
        margin:10px;
        margin-top: 50px;
        margin-left:20px;
        padding:0;
    }
    #reasons, #after-study{
        margin-top:0;
        margin-bottom: 0;
    }
    
    .text {
        font-family: 'Silkscreen';
        font-size: 20px;
        float: right;
        text-align: center;
        margin-right: 60px;
    }
    
    .text p{
        margin:0;
        padding-bottom: 5px;
        text-align:justify;
        font-family: 'Tomorrow';
        font-weight: bold;
        font-size: 21px;
        letter-spacing: 2px;
        width: 740px;
        padding: 15px;
    }
    
    .container{
        overflow: hidden;
    }

/* Personal SWOT analysis page */
.page-heading{
    font-family: 'Silkscreen';
    font-size: 45px;
    text-align: center;
}

.all-questions {
    margin:20px;
}

.question {
    font-family: 'Silkscreen';
    font-size: 35px;
}

#pic-top{
    margin:5px;
        margin-top: 50px;
        margin-left:50px;
        padding:0;
        margin-right: 0;
}

.answer {
    font-size:22px;
    font-weight: bold;
    text-align: justify;
    width: 50%;
}

#source {
    font-size:15px;
    padding:5px;
    text-align: right;
}

#pic-down {
    float:right;
    margin: 20px;
    margin-top:180px;
    margin-right: 150px;
    padding: 0;
}

.all-questions{
    overflow: hidden;
    margin-left:50px;
}

/* Programming experience */

#hr-down {
    width:50%;
}

#top-hr{
    margin: 0;
}

.image-stack {
    float:left;
}

/* First feedback */ 

