/* For the images and hrs in every post page */
img {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

#line {
    margin: 0;
}

/* Profession page - styling all of the links for the sources*/
.source-link {
    text-decoration: none;
    color: #093a17;
}

/* paragraphs' ids for the sources */
#source {
    font-size: 15px;
    padding: 5px;
    text-align: right;
}

.image-stack {
    float: left;
}

/* Feedback page */
#why-ict {
    margin: 10px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 0;
}

/* Study choice page */
#pic-up {
    margin: 10px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 0;
}

#reasons,
#after-study, 
#dream-companies,
.company, 
#giving-feedback,
#my-feedback{
    margin-top: 0;
    margin-bottom: 0;
}

.text {
    font-family: 'Silkscreen';
    font-size: 20px;
    float: right;
    text-align: center;
    margin-right: 60px;
}

.text p {
    margin: 0;
    padding-bottom: 5px;
    text-align: justify;
    font-family: 'Tomorrow';
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 2px;
    width: 740px;
    padding: 15px;
}

.container {
    overflow: hidden;
}

/* Personal SWOT analysis page */
.page-heading {
    font-family: 'Silkscreen';
    font-size: 45px;
    text-align: center;
}

.all-questions {
    margin: 20px;
}

.question {
    font-family: 'Silkscreen';
    font-size: 35px;
}

.picture {
    margin: 5px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;
    margin-right: 0;
}

.answer {
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    width: 50%;
}



#pic-down {
    float: right;
    margin: 20px;
    margin-top: 180px;
    margin-right: 150px;
    padding: 0;
}

.all-questions {
    overflow: hidden;
    margin-left: 50px;
}

/* Programming experience */

#hr-down {
    width: 50%;
}





button {
    padding: 10px;
    width: 160px;
    background-color: rgba(209, 251, 208, 0.704);
    font-weight: bold;
    color: rgb(18, 81, 60);
    font-family: 'Silkscreen';
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    border: 3px solid rgb(18, 81, 60);
}

button:hover {
    background-color: rgb(241, 254, 249);
}