/* For all of the posts */

button {
    padding: 10px;
    width: 160px;
    background-color: rgba(209, 251, 208, 0.704);
    font-weight: bold;
    color: rgb(18, 81, 60);
    font-family: 'Silkscreen';
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    border: 3px solid rgb(18, 81, 60);
}

button:hover {
    background-color: rgb(241, 254, 249);
}

.container {
    overflow: hidden;
}

#line {
    margin: 0;
}

.page-heading {
    font-family: 'Silkscreen';
    font-size: 45px;
    text-align: center;
}

.text {
    font-family: 'Silkscreen';
    font-size: 20px;
    float: right;
    text-align: center;
    margin-right: 60px;
}

.text p {
    margin: 0;
    padding-bottom: 5px;
    text-align: justify;
    font-family: 'Tomorrow';
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 2px;
    width: 740px;
    padding: 15px;
}

#dream-companies,
.company,
#giving-feedback,
#my-feedback,
#how-it-started,
#what-is-swot,
#our-task,
#why-ict,
#after-study {
    margin-top: 0;
    margin-bottom: 0;
}

#my-experience,
#all-questions {
    overflow: hidden;
    margin-left: 50px;
    margin: 20px;
}

#my-experience-title,
.question {
    font-family: 'Silkscreen';
    margin-bottom: 0;
    font-size: 42px;
}

#info-prog-exp,
.answer {
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    width: 52%;
}

.source-link {
    text-decoration: none;
    color: #093a17;
}

#source {
    font-size: 15px;
    padding: 5px;
    text-align: right;
}

/* Images styling */

.pic-feedback {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 180px;
    padding: 0;
}

#swot-img {
    margin: 10px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 0;
}

#ict-code,
#pic-of-lamp {
    float: right;
    margin: 20px;
    margin-top: 180px;
    margin-right: 150px;
    padding: 0;
}

img {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

.image-stack {
    float: left;
}

/* Profession page - styling all of the links for the sources*/

.picture-prof {
    margin: 5px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 0;
    margin-right: 0;
}

/* Hr styling */
#line-prog-exp,
.line-swot {
    width: 52%;
}